<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VersionCheckSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB7BBD6E1DD5647B00500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7BBD851DD5647C00500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB7BBD901DD5647C00500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
